{% extends "SofiaApp/base.html" %}

{% load static %}
{% block about %}
{%endblock%}
{% block about2 %}
{%endblock%}
{% load crispy_forms_tags %}

{%block content2%}
    <div class="card p-5">
        <div class="card card-header bg-success text-white">
            <h3 class="card-title ">Creacion de Notas</h3>

        </div>
        <form class="for form-control form-row" method="post" enctype="multipart/form-data">

            <div class="card-body">
                {% csrf_token %}
                {{ form| crispy }}

            </div>

            <div class="card-footer d-flex justify-content-between">

                <input type="submit" class="btn btn-success" value="Registrar">
                <a href="{% url 'list_nota' %}" class="btn btn-danger">Cancelar</a>

            </div>
        </form>


    </div>

{%endblock%}

{%block script%}
<script type="application/javascript" src="{% static 'SofiaApp/JQuery/jquery-3.6.4.min.js' %}"></script>
<script type="application/javascript" src="{% static 'SofiaApp/validar_campos.js' %}"></script>
{%endblock%}