{% extends "SofiaApp/base.html" %}
{% block about %}
{%endblock%}
{% block about2 %}
{%endblock%}
{% block content2 %}
<div class="row p-5">
    <div class="card bg-success text-white">
        <div class="card-body">Listado de Recursos</div>
    </div>
    <div class="card-footer">
        
        <div class="card-body">
    <table class="table">
    <thead>
    <td><h4>Autor</h4></td>
    <td><h4>Nombre</h4></td>
    <td><h4>Upload</h4></td>
    </thead>



    <tbody>
    {% if object_list %}
        {% for e in object_list %}
            <tr>
                <td>{{ e.Autor }}</td>
                <td>{{ e.Nombre }}</td>
                <td>{{ e.upload}}</td>
                <td>
                    <a href="{% url 'update_recurso' e.id %}" class="btn btn-success"><i>Edit</i></a>
                    <a href="{% url 'delete_recurso' e.id %}" class="btn btn-danger"><i>Delete</i></a>
                </td>
  
            </tr>
        {% endfor %}


    {% else %}
        <tr>
            <td> No hay datos a Mostrar</td>
        </tr>
    {% endif %}

    </tbody>
</table>
    </div> 

</div> 
<div class="d-flex justify-content-between" style="padding-top: 3%;"> 
<a href="{% url 'create_recurso' %}" class="btn btn-success">Registrar</a> 
<a href="{% url 'Administrar Recurso Educativo' %}" class="btn btn-danger">Cerrar</a> 
</div>
{% endblock %}